.question-container:not(:last-of-type) {
	border-bottom: 1px solid #080357;
	margin-bottom: 2rem;
}

.question {
	font-size: 2rem;
}

.answers {
	display: flex;
	justify-content: center;
	margin: 1rem 0 2rem 0;
	gap: 1rem;
}

.answer {
	background-color: #c8c4fd;
	padding: 0.4rem 1.2rem;
	border-radius: 16px;
	cursor: pointer;
	font-size: 1.4rem;
}

.answer:hover {
	background-color: #f1c8a7;
}
